name: Build and Test

on:
  push:
    #paths-ignore:
      #- ".github/workflows/**"

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.0.x'

      - name: Checkout
        uses: actions/checkout@v6

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build --logger trx --results-directory ./test-results/

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: Test Results
          path: ./test-results/
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
